In [4]:
import sqlite3

conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# í…Œì´ë¸” ìƒì„±
# TABLE IF NOT EXISTS users: ìœ ì €ê°€ ìˆì§€ ì•Šìœ¼ë©´
# ì»¬ëŸ¼ëª…ì€ id, name, ageë¡œ í¸ì„±í•˜ê³ 
# idëŠ” ìë™ìœ¼ë¡œ ì¦ê°€ë˜ëŠ” ìˆ«ìê°’
# nameì€ ë¹„ìš¸ìˆ˜ ì—†ëŠ” ê°’
# ageëŠ” ìˆ«ìê°’
cursor.execute(
    '''
    CREATE TABLE IF NOT EXISTS users (
      id INTEGER PRIMARY KEY,
      name TEXT NOT NULL,
      age INTEGER
    )
    '''
)

In [5]:
# ë°ì´í„° ì‚½ì…
cursor.execute('INSERT INTO users (name,age) VALUES ("í™ê¸¸ë™",20)')

cursor.execute('INSERT INTO users (name,age) VALUES ("ê¹€ì² ìˆ˜",30)')

cursor.execute('INSERT INTO users (name,age) VALUES ("ê¹€ìˆ™í¬",30)')
# ì‚½ì…ëœ ë‚´ìš© dbì— ë°˜ì˜
conn.commit()

In [6]:
# ì‚½ì…ëœ ë°ì´í„° í™•ì¸

# cursor.executeëŠ” SQL êµ¬ë¬¸ì„ ì‹¤í–‰í•˜ëŠ” ê²ƒì´ê³ 
# êµ¬ë¬¸ì„ ì‹¤í–‰í•œ ê²ƒì„ ë³´ì—¬ì£¼ì§„ ì•ŠìŠµë‹ˆë‹¤.
cursor.execute('SELECT * FROM users')
# ê²°ê³¼ë¥¼ ë³´ê¸°ìœ„í•´ì„œëŠ” fetchë¥¼ í•´ì•¼ í•©ë‹ˆë‹¤.
# ë‹¤ ê°€ì ¸ì˜¤ëŠ” ê²ƒì€ fetchallì´ê³  í•˜ë‚˜ë§Œ ê°€ì ¸ì˜¤ëŠ” ê²ƒì€ fetchone ì…ë‹ˆë‹¤.
print(cursor.fetchall())

[(1, 'í™ê¸¸ë™', 20), (2, 'ê¹€ì² ìˆ˜', 30), (3, 'ê¹€ìˆ™í¬', 30)]

In [7]:
# ë°ì´í„° ìˆ˜ì •
cursor.execute('UPDATE users SET age = ? WHERE name = ?',(25,'ê¹€ì² ìˆ˜') )
conn.commit()

In [8]:
cursor.execute('SELECT * FROM users')
print(cursor.fetchall())

[(1, 'í™ê¸¸ë™', 20), (2, 'ê¹€ì² ìˆ˜', 25), (3, 'ê¹€ìˆ™í¬', 30)]

In [11]:
# ë°ì´í„° ì‚­ì œ
cursor.execute('DELETE FROM users WHERE name = ?',('ê¹€ì² ìˆ˜',))
conn.commit()

In [12]:
cursor.execute('SELECT * FROM users')
print(cursor.fetchall())

[(1, 'í™ê¸¸ë™', 20), (3, 'ê¹€ìˆ™í¬', 30)]

In [13]:
# dbì—°ê²°í•´ì œ
conn.close()

# SQLite3 CRUD ì—°ìŠµë¬¸ì œ

## ğŸ¯ ë¬¸ì œ 1: í•™ìƒ ê´€ë¦¬ ì‹œìŠ¤í…œ

### 1ë‹¨ê³„: í…Œì´ë¸” ë§Œë“¤ê¸°
- `school.db` ë°ì´í„°ë² ì´ìŠ¤ì— ì—°ê²°í•˜ì„¸ìš”
- `students` í…Œì´ë¸”ì„ ë§Œë“œì„¸ìš”
  - id: ê¸°ë³¸í‚¤ (ìˆ«ì)
  - name: ì´ë¦„ (í…ìŠ¤íŠ¸)
  - age: ë‚˜ì´ (ìˆ«ì)
  - grade: í•™ë…„ (í…ìŠ¤íŠ¸)

### 2ë‹¨ê³„: í•™ìƒ ì¶”ê°€í•˜ê¸° (CREATE)
ë‹¤ìŒ í•™ìƒë“¤ì„ ë°ì´í„°ë² ì´ìŠ¤ì— ì¶”ê°€í•˜ì„¸ìš”:
- ê¹€ì² ìˆ˜, 20ì‚´, 3í•™ë…„
- ì´ì˜í¬, 19ì‚´, 2í•™ë…„  
- ë°•ë¯¼ìˆ˜, 21ì‚´, 4í•™ë…„

### 3ë‹¨ê³„: í•™ìƒ ì¡°íšŒí•˜ê¸° (READ)
- ëª¨ë“  í•™ìƒì˜ ì •ë³´ë¥¼ ì¡°íšŒí•´ì„œ ì¶œë ¥í•˜ì„¸ìš”
- 20ì‚´ ì´ìƒì¸ í•™ìƒë§Œ ì¡°íšŒí•´ì„œ "ì´ë¦„: â—‹â—‹, ë‚˜ì´: â—‹â—‹" í˜•íƒœë¡œ ì¶œë ¥í•˜ì„¸ìš”

### 4ë‹¨ê³„: ì •ë³´ ìˆ˜ì •í•˜ê¸° (UPDATE)
- ê¹€ì² ìˆ˜ì˜ ë‚˜ì´ë¥¼ 22ì‚´ë¡œ ìˆ˜ì •í•˜ì„¸ìš”
- ìˆ˜ì • í›„ ê¹€ì² ìˆ˜ì˜ ì •ë³´ë¥¼ ì¡°íšŒí•´ì„œ í™•ì¸í•˜ì„¸ìš”

### 5ë‹¨ê³„: í•™ìƒ ì‚­ì œí•˜ê¸° (DELETE)
- ë°•ë¯¼ìˆ˜ í•™ìƒì„ ì‚­ì œí•˜ì„¸ìš”
- ì‚­ì œ í›„ ë‚¨ì€ ëª¨ë“  í•™ìƒì„ ì¡°íšŒí•´ì„œ í™•ì¸í•˜ì„¸ìš”

In [14]:
# 1ë‹¨ê³„
print("\n1ë‹¨ê³„: í…Œì´ë¸” ë§Œë“¤ê¸°")
conn = sqlite3.connect('school.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS students (
        id INTEGER PRIMARY KEY,
        name TEXT,
        age INTEGER,
        grade TEXT
    )
''')
print("í…Œì´ë¸” ìƒì„± ì™„ë£Œ!")

1ë‹¨ê³„: í…Œì´ë¸” ë§Œë“¤ê¸°
í…Œì´ë¸” ìƒì„± ì™„ë£Œ!

In [15]:
# 2ë‹¨ê³„
print("\n2ë‹¨ê³„: í•™ìƒ ì¶”ê°€í•˜ê¸°")
cursor.execute("INSERT INTO students (id, name, age, grade) VALUES (1, 'ê¹€ì² ìˆ˜', 20, '3í•™ë…„')")
cursor.execute("INSERT INTO students (id, name, age, grade) VALUES (2, 'ì´ì˜í¬', 19, '2í•™ë…„')")
cursor.execute("INSERT INTO students (id, name, age, grade) VALUES (3, 'ë°•ë¯¼ìˆ˜', 21, '4í•™ë…„')")
conn.commit()
print("í•™ìƒ ì¶”ê°€ ì™„ë£Œ!")

2ë‹¨ê³„: í•™ìƒ ì¶”ê°€í•˜ê¸°
í•™ìƒ ì¶”ê°€ ì™„ë£Œ!

In [18]:
# 3ë‹¨ê³„
print("\n3ë‹¨ê³„: í•™ìƒ ì¡°íšŒí•˜ê¸°")

cursor.execute('SELECT * FROM students')
students = cursor.fetchall()

# ì „ì²´í•™ìƒ
for student in students:
  print(student)

# 20ì‚´ ì´ìƒ í•™ìƒ

cursor.execute('SELECT * FROM students WHERE age >= 20')
older_students = cursor.fetchall()

for student in older_students:
  print(f"ì´ë¦„: {student[1]}, ë‚˜ì´: {student[2]}")

3ë‹¨ê³„: í•™ìƒ ì¡°íšŒí•˜ê¸°
(1, 'ê¹€ì² ìˆ˜', 20, '3í•™ë…„')
(2, 'ì´ì˜í¬', 19, '2í•™ë…„')
(3, 'ë°•ë¯¼ìˆ˜', 21, '4í•™ë…„')
ì´ë¦„: ê¹€ì² ìˆ˜, ë‚˜ì´: 20
ì´ë¦„: ë°•ë¯¼ìˆ˜, ë‚˜ì´: 21

In [19]:
# 4ë‹¨ê³„
print("\n4ë‹¨ê³„: ì •ë³´ ìˆ˜ì •í•˜ê¸°")
cursor.execute("UPDATE students SET age = 20 WHERE name = 'ê¹€ì² ìˆ˜'")
conn.commit()

cursor.execute("SELECT * FROM students WHERE name = 'ê¹€ì² ìˆ˜'")
result = cursor.fetchone()
print(f"ìˆ˜ì •ëœ ê¹€ì² ìˆ˜ ì •ë³´: {result}")

4ë‹¨ê³„: ì •ë³´ ìˆ˜ì •í•˜ê¸°
ìˆ˜ì •ëœ ê¹€ì² ìˆ˜ ì •ë³´: (1, 'ê¹€ì² ìˆ˜', 20, '3í•™ë…„')

In [20]:
# 5ë‹¨ê³„
print("\n5ë‹¨ê³„: í•™ìƒ ì‚­ì œí•˜ê¸°")
cursor.execute("DELETE FROM students WHERE name= 'ë°•ë¯¼ìˆ˜'")
conn.commit()

cursor.execute("SELECT * FROM students")
remaining = cursor.fetchall()

for student in remaining:
  print(student)

conn.close()

5ë‹¨ê³„: í•™ìƒ ì‚­ì œí•˜ê¸°
(1, 'ê¹€ì² ìˆ˜', 20, '3í•™ë…„')
(2, 'ì´ì˜í¬', 19, '2í•™ë…„')

# SQLAlchemy colab ì‹¤ìŠµ

In [21]:
# ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„í¬íŠ¸
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [22]:
# ë°ì´í„°ë² ì´ìŠ¤ ì—°ê²° ì„¤ì •
# 'sqlite:///a/b/c/sample.db'ì™€ 'sqlite:///./a/b/c/sample.db'ëŠ” ê°™ìŠµë‹ˆë‹¤.
# echo=Trueë¥¼ í•˜ê²Œ ë˜ë©´ SQLë¬¸ì´ ì‹¤í–‰ì´ ë  ë•Œë§ˆë‹¤ ì¶œë ¥ì°½ì—ì„œ
# ë°˜ë³µí•´ ì¶œë ¥í•´ì¤ë‹ˆë‹¤. ê³µë¶€í•  ë•Œ ì¢‹ìŠµë‹ˆë‹¤.

engine = create_engine('sqlite:///sample.db',echo=True)

In [23]:
# DBì™€ ì—°ë™ë˜ëŠ” ëª¨ë¸ì„ ìƒì„±í•˜ê¸° ìœ„í•œ ê¸°ë³¸ ëª¨ë¸
Base = declarative_base()

/tmp/ipython-input-1027333092.py:2: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [24]:
class User(Base):
  __tablename__ = 'users' # í…Œì´ë¸” ì´ë¦„

  id = Column(Integer,primary_key=True) # ê¸°ë³¸í‚¤
  name = Column(String(50)) # ì´ë¦„ ì»¬ëŸ¼, 50ì ì œí•œ
  age = Column(Integer)

  def __repr__(self):
    return f'<{self.id}, {self.name}, {self.age}>'

In [26]:
Base.metadata.create_all(engine) # í…Œì´ë¸” ìƒì„±

2025-09-18 07:14:19,647 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-09-18 07:14:19,651 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("users")

2025-09-18 07:14:19,652 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-09-18 07:14:19,654 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("users")

2025-09-18 07:14:19,660 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-09-18 07:14:19,663 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR(50),
	age INTEGER,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR(50),
	age INTEGER,
	PRIMARY KEY (id)
)

2025-09-18 07:14:19,668 INFO sqlalchemy.engine.Engine [no key 0.00513s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00513s] ()

2025-09-18 07:14:19,689 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [27]:
# ì„¸ì…˜ ìƒì„±(DBì™€ ì—°ê²°í•˜ëŠ” ì½”ë“œ)
Session = sessionmaker(bind=engine)

session = Session()

In [28]:
# ë°ì´í„°ì‚½ì…(Insert)

new_user = User(name="licat",age=10)

session.add(new_user)
session.commit()

2025-09-18 07:22:12,371 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-09-18 07:22:12,375 INFO sqlalchemy.engine.Engine INSERT INTO users (name, age) VALUES (?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, age) VALUES (?, ?)

2025-09-18 07:22:12,378 INFO sqlalchemy.engine.Engine [generated in 0.00237s] ('licat', 10)

INFO:sqlalchemy.engine.Engine:[generated in 0.00237s] ('licat', 10)

2025-09-18 07:22:12,382 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [29]:
# ë°ì´í„°ì½ê¸°(Read)

session.query(User).all()

2025-09-18 07:23:51,691 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-09-18 07:23:51,696 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age
FROM users

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age
FROM users

2025-09-18 07:23:51,698 INFO sqlalchemy.engine.Engine [generated in 0.00241s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00241s] ()

In [34]:
# ë°ì´í„°ì½ê¸° (WHERE)
session.query(User).filter(User.name == 'licat').first()

2025-09-18 07:34:06,202 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?

2025-09-18 07:34:06,206 INFO sqlalchemy.engine.Engine [cached since 82.42s ago] ('licat', 1, 0)

INFO:sqlalchemy.engine.Engine:[cached since 82.42s ago] ('licat', 1, 0)

In [35]:
# ë°ì´í„°ìˆ˜ì • (update)

licat = session.query(User).filter(User.name == 'licat').first()

if licat:
  licat.age = 100
  session.commit()

session.query(User).all()

2025-09-18 07:36:30,997 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?

2025-09-18 07:36:31,000 INFO sqlalchemy.engine.Engine [cached since 227.2s ago] ('licat', 1, 0)

INFO:sqlalchemy.engine.Engine:[cached since 227.2s ago] ('licat', 1, 0)

2025-09-18 07:36:31,004 INFO sqlalchemy.engine.Engine UPDATE users SET age=? WHERE users.id = ?

INFO:sqlalchemy.engine.Engine:UPDATE users SET age=? WHERE users.id = ?

2025-09-18 07:36:31,009 INFO sqlalchemy.engine.Engine [generated in 0.00551s] (100, 1)

INFO:sqlalchemy.engine.Engine:[generated in 0.00551s] (100, 1)

2025-09-18 07:36:31,015 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2025-09-18 07:36:31,030 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-09-18 07:36:31,032 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age
FROM users

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age
FROM users

2025-09-18 07:36:31,034 INFO sqlalchemy.engine.Engine [cached since 759.3s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 759.3s ago] ()

In [36]:
# ë°ì´í„°ì‚­ì œ (delete)

if licat:
  session.delete(licat)
  session.commit()

session.query(User).all()

2025-09-18 07:39:21,850 INFO sqlalchemy.engine.Engine DELETE FROM users WHERE users.id = ?

INFO:sqlalchemy.engine.Engine:DELETE FROM users WHERE users.id = ?

2025-09-18 07:39:21,853 INFO sqlalchemy.engine.Engine [generated in 0.00263s] (1,)

INFO:sqlalchemy.engine.Engine:[generated in 0.00263s] (1,)

2025-09-18 07:39:21,859 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2025-09-18 07:39:21,872 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-09-18 07:39:21,874 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age
FROM users

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.name AS users_name, users.age AS users_age
FROM users

2025-09-18 07:39:21,876 INFO sqlalchemy.engine.Engine [cached since 930.2s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 930.2s ago] ()

[]

In [37]:
# ì—°ê²°í•´ì œ
session.close()

2025-09-18 07:40:00,532 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK