In [1]:
from sqlalchemy import create_engine, Column, Integer, String, Float, DateTime, Boolean, ForeignKey, func, and_, or_, desc, asc, text
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, Session, relationship
from datetime import datetime

In [2]:
engine = create_engine('sqlite:///sample.db', echo=True) # dbÏó∞Í≤∞ÏÑ§Ï†ï

Base = declarative_base() # dbÏôÄ Ïó∞ÎèôÌï† Í∏∞Î≥∏Î™®Îç∏

Session = sessionmaker(bind=engine)
session = Session()

/tmp/ipython-input-182488034.py:3: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base() # dbÏôÄ Ïó∞ÎèôÌï† Í∏∞Î≥∏Î™®Îç∏

In [3]:
class User(Base):
    __tablename__ = "users"
    id = Column(Integer, primary_key=True)
    username = Column(String, unique=True)
    email = Column(String, unique=True)
    age = Column(Integer)
    salary = Column(Float)
    is_active = Column(Boolean, default=True)
    created_at = Column(DateTime, default=datetime.now)

    orders = relationship("Order", back_populates="user")

    def __repr__(self):
        return f"<User(id={self.id}, username='{self.username}', age={self.age})>"

    def __str__(self):
        return f"üßë {self.username} (ÎÇòÏù¥: {self.age}, Ïó∞Î¥â: {self.salary:,.0f}Ïõê)"

    def to_dict(self):
        return {
            "id": self.id,
            "username": self.username,
            "email": self.email,
            "age": self.age,
            "salary": self.salary,
            "is_active": self.is_active
        }

class Product(Base):
    __tablename__ = "products"
    id = Column(Integer, primary_key=True)
    name = Column(String)
    category = Column(String)
    price = Column(Float)
    stock = Column(Integer)
    created_at = Column(DateTime, default=datetime.now)

    order_items = relationship("OrderItem", back_populates="product")

    def __repr__(self):
        return f"<Product(id={self.id}, name='{self.name}', price={self.price})>"

    def __str__(self):
        return f"üì¶ {self.name} - {self.price:,.0f}Ïõê (Ïû¨Í≥†: {self.stock}Í∞ú)"

class Order(Base):
    __tablename__ = "orders"
    id = Column(Integer, primary_key=True)
    user_id = Column(Integer, ForeignKey("users.id"))
    total_amount = Column(Float)
    order_date = Column(DateTime, default=datetime.now)
    status = Column(String, default="pending")

    user = relationship("User", back_populates="orders")
    order_items = relationship("OrderItem", back_populates="order")

    def __repr__(self):
        return f"<Order(id={self.id}, user_id={self.user_id}, amount={self.total_amount})>"

class OrderItem(Base):
    __tablename__ = "order_items"
    id = Column(Integer, primary_key=True)
    order_id = Column(Integer, ForeignKey("orders.id"))
    product_id = Column(Integer, ForeignKey("products.id"))
    quantity = Column(Integer)
    price = Column(Float)

    order = relationship("Order", back_populates="order_items")
    product = relationship("Product", back_populates="order_items")

In [4]:
# ÌÖåÏù¥Î∏î ÏÉùÏÑ±
Base.metadata.create_all(engine)

2025-09-19 02:07:49,248 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-09-19 02:07:49,258 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("users")

2025-09-19 02:07:49,265 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-09-19 02:07:49,276 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("users")

2025-09-19 02:07:49,281 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-09-19 02:07:49,295 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("products")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("products")

2025-09-19 02:07:49,304 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-09-19 02:07:49,325 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("products")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("products")

2025-09-19 02:07:49,346 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-09-19 02:07:49,358 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("orders")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("orders")

2025-09-19 02:07:49,379 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-09-19 02:07:49,386 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("orders")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("orders")

2025-09-19 02:07:49,395 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-09-19 02:07:49,430 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("order_items")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("order_items")

2025-09-19 02:07:49,462 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-09-19 02:07:49,474 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("order_items")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("order_items")

2025-09-19 02:07:49,489 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-09-19 02:07:49,502 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	username VARCHAR,
	email VARCHAR,
	age INTEGER,
	salary FLOAT,
	is_active BOOLEAN,
	created_at DATETIME,
	PRIMARY KEY (id),
	UNIQUE (username),
	UNIQUE (email)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE users (
	id INTEGER NOT NULL,
	username VARCHAR,
	email VARCHAR,
	age INTEGER,
	salary FLOAT,
	is_active BOOLEAN,
	created_at DATETIME,
	PRIMARY KEY (id),
	UNIQUE (username),
	UNIQUE (email)
)

2025-09-19 02:07:49,520 INFO sqlalchemy.engine.Engine [no key 0.01857s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.01857s] ()

2025-09-19 02:07:49,551 INFO sqlalchemy.engine.Engine
CREATE TABLE products (
	id INTEGER NOT NULL,
	name VARCHAR,
	category VARCHAR,
	price FLOAT,
	stock INTEGER,
	created_at DATETIME,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE products (
	id INTEGER NOT NULL,
	name VARCHAR,
	category VARCHAR,
	price FLOAT,
	stock INTEGER,
	created_at DATETIME,
	PRIMARY KEY (id)
)

2025-09-19 02:07:49,561 INFO sqlalchemy.engine.Engine [no key 0.01023s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.01023s] ()

2025-09-19 02:07:49,583 INFO sqlalchemy.engine.Engine
CREATE TABLE orders (
	id INTEGER NOT NULL,
	user_id INTEGER,
	total_amount FLOAT,
	order_date DATETIME,
	status VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE orders (
	id INTEGER NOT NULL,
	user_id INTEGER,
	total_amount FLOAT,
	order_date DATETIME,
	status VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)

2025-09-19 02:07:49,586 INFO sqlalchemy.engine.Engine [no key 0.00261s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00261s] ()

2025-09-19 02:07:49,611 INFO sqlalchemy.engine.Engine
CREATE TABLE order_items (
	id INTEGER NOT NULL,
	order_id INTEGER,
	product_id INTEGER,
	quantity INTEGER,
	price FLOAT,
	PRIMARY KEY (id),
	FOREIGN KEY(order_id) REFERENCES orders (id),
	FOREIGN KEY(product_id) REFERENCES products (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE order_items (
	id INTEGER NOT NULL,
	order_id INTEGER,
	product_id INTEGER,
	quantity INTEGER,
	price FLOAT,
	PRIMARY KEY (id),
	FOREIGN KEY(order_id) REFERENCES orders (id),
	FOREIGN KEY(product_id) REFERENCES products (id)
)

2025-09-19 02:07:49,618 INFO sqlalchemy.engine.Engine [no key 0.00703s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00703s] ()

2025-09-19 02:07:49,637 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [5]:
# class User(Base):
#     __tablename__ = "users"
#     id = Column(Integer, primary_key=True)
#     username = Column(String, unique=True) # unique ÏòµÏÖòÏùÄ Í≥†Ïú†Ìï¥ÏïºÌï®.
#     email = Column(String, unique=True)
#     age = Column(Integer)
#     salary = Column(Float)
#     is_active = Column(Boolean, default=True) # default = Í∏∞Î≥∏Í∞í
#     created_at = Column(DateTime, default=datetime.now)
#     # Ï∞∏Ï°∞ relationship("ÌÅ¥ÎûòÏä§Ïù¥Î¶Ñ",back_populates="Ï∞∏Ï°∞ÌïòÎäî ÌÅ¥ÎûòÏä§Ïùò Î≥ÄÏàòÏù¥Î¶Ñ")
#     orders = relationship("Order", back_populates="user")

new_user = User(username="max",email="test.gmail.com",age=20,salary=30000.1111)

session.add(new_user)
session.commit()

2025-09-19 02:07:49,722 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-09-19 02:07:49,742 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, age, salary, is_active, created_at) VALUES (?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO users (username, email, age, salary, is_active, created_at) VALUES (?, ?, ?, ?, ?, ?)

2025-09-19 02:07:49,755 INFO sqlalchemy.engine.Engine [generated in 0.01342s] ('max', 'test.gmail.com', 20, 30000.1111, 1, '2025-09-19 02:07:49.742092')

INFO:sqlalchemy.engine.Engine:[generated in 0.01342s] ('max', 'test.gmail.com', 20, 30000.1111, 1, '2025-09-19 02:07:49.742092')

2025-09-19 02:07:49,773 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [8]:
# Ï°∞Ìöå
# session.rollback() # ÏÑ∏ÏÖò ÏÉÅÌÉúÎ•º Ïù¥Ï†ÑÏúºÎ°ú Î°§Î∞±

# all_users = session.query(User).all()

# ÏùºÏπòÌïòÎäî Ï°∞Í±¥ Îç∞Ïù¥ÌÑ∞ Ï≤´Î≤àÏß∏Í≤É Ï°∞Ìöå
# session.query(User).filter(User.username =='max').first()

# ÏùºÏπòÌïòÎäî Ï°∞Í±¥Ïóê Îî∞Î•∏ Îç∞Ïù¥ÌÑ∞ Î™®Îëê Ï°∞Ìöå
# session.query(User).filter(User.username == 'max111').all()

# ÌÇ§ÏõåÎìúÏù∏ÏûêÎ∞©Ïãù
# session.query(User).filter_by(username='max').first()

# Ï≤´Î≤àÏß∏ Îç∞Ïù¥ÌÑ∞Î•º Ï°∞ÌöåÌïòÍ∏¥ ÌïòÏßÄÎßå, Í∑∏ Îç∞Ïù¥ÌÑ∞Í∞Ä ÏóÜÏúºÎ©¥ ÏóêÎü¨ (one)
# session.query(User).filter(User.id==2).one()

# one_or_none() - ÌïòÎÇò ÎòêÎäî None
# none_test = session.query(User).filter(User.id==2).one_or_none()
# print(none_test)

2025-09-19 02:11:43,085 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.username = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.username = ?
 LIMIT ? OFFSET ?

2025-09-19 02:11:43,089 INFO sqlalchemy.engine.Engine [cached since 185.6s ago] ('max', 1, 0)

INFO:sqlalchemy.engine.Engine:[cached since 185.6s ago] ('max', 1, 0)

In [9]:
# Í∞ÑÎã®Ìïú ÏÉòÌîå Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ± (5-10Í∞úÏî©Îßå)
import random
def create_simple_users():
    """Í∞ÑÎã®Ìïú ÏÇ¨Ïö©Ïûê 5Î™Ö ÏÉùÏÑ±"""
    users_data = [
        {"username": "ÍπÄÏ≤†Ïàò", "email": "kim@gmail.com", "age": 25, "salary": 50000},
        {"username": "Ïù¥ÏòÅÌù¨", "email": "lee@naver.com", "age": 30, "salary": 60000},
        {"username": "Î∞ïÎØºÏàò", "email": "park@daum.net", "age": 28, "salary": 55000},
        {"username": "ÏµúÏßÄÏõê", "email": "choi@gmail.com", "age": 32, "salary": 70000},
        {"username": "Ï†ïÎã§ÏòÅ", "email": "jung@yahoo.com", "age": 27, "salary": 48000}
    ]

    users = []

    for data in users_data:
        user = User(**data)
        users.append(user)
        session.add(user)

    session.commit()
    print(f"‚úÖ {len(users)}Î™ÖÏùò ÏÇ¨Ïö©Ïûê ÏÉùÏÑ± ÏôÑÎ£å!")
    return users

def create_simple_products():
    """Í∞ÑÎã®Ìïú Ï†úÌíà 8Í∞ú ÏÉùÏÑ±"""
    products_data = [
        {"name": "ÏïÑÏù¥Ìè∞", "category": "Ï†ÑÏûêÏ†úÌíà", "price": 1200000, "stock": 50},
        {"name": "Í∞§Îü≠Ïãú", "category": "Ï†ÑÏûêÏ†úÌíà", "price": 1000000, "stock": 30},
        {"name": "ÎÖ∏Ìä∏Î∂Å", "category": "Ï†ÑÏûêÏ†úÌíà", "price": 1500000, "stock": 20},
        {"name": "Ìã∞ÏÖîÏ∏†", "category": "ÏùòÎ•ò", "price": 25000, "stock": 100},
        {"name": "Ï≤≠Î∞îÏßÄ", "category": "ÏùòÎ•ò", "price": 80000, "stock": 60},
        {"name": "Ïö¥ÎèôÌôî", "category": "Ïã†Î∞ú", "price": 120000, "stock": 40},
        {"name": "Í∞ÄÎ∞©", "category": "Ïï°ÏÑ∏ÏÑúÎ¶¨", "price": 150000, "stock": 25},
        {"name": "ÏãúÍ≥Ñ", "category": "Ïï°ÏÑ∏ÏÑúÎ¶¨", "price": 300000, "stock": 15}
    ]

    products = []
    for data in products_data:
        product = Product(**data)
        products.append(product)
        session.add(product)

    session.commit()
    print(f"‚úÖ {len(products)}Í∞úÏùò Ï†úÌíà ÏÉùÏÑ± ÏôÑÎ£å!")
    return products

def create_simple_orders():
    """Í∞ÑÎã®Ìïú Ï£ºÎ¨∏ 3Í∞ú ÏÉùÏÑ±"""
    # ÏÇ¨Ïö©ÏûêÏôÄ Ï†úÌíàÏù¥ ÏûàÎäîÏßÄ ÌôïÏù∏
    users = session.query(User).all()
    products = session.query(Product).all()

    if not users or not products:
        print("‚ùå Î®ºÏ†Ä ÏÇ¨Ïö©ÏûêÏôÄ Ï†úÌíàÏùÑ ÏÉùÏÑ±Ìï¥Ï£ºÏÑ∏Ïöî!")
        return []

    orders = []
    for i in range(3):
        user = random.choice(users)
        order = Order(
            user_id=user.id,
            total_amount=random.randint(50000, 500000),
            status=random.choice(["pending", "shipped", "delivered"])
        )
        orders.append(order)
        session.add(order)

    session.commit()
    print(f"‚úÖ {len(orders)}Í∞úÏùò Ï£ºÎ¨∏ ÏÉùÏÑ± ÏôÑÎ£å!")
    return orders

# Î™®Îì† Îç∞Ïù¥ÌÑ∞ ÌïúÎ≤àÏóê ÏÉùÏÑ±
def create_all_sample_data():
    """Î™®Îì† ÏÉòÌîå Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±"""
    print("üöÄ ÏÉòÌîå Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ± ÏãúÏûë...")
    users = create_simple_users()
    products = create_simple_products()
    orders = create_simple_orders()
    print("üéâ Î™®Îì† ÏÉòÌîå Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ± ÏôÑÎ£å!")
    return users, products, orders

create_all_sample_data()

üöÄ ÏÉòÌîå Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ± ÏãúÏûë...
2025-09-19 02:21:38,642 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, age, salary, is_active, created_at) VALUES (?, ?, ?, ?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (username, email, age, salary, is_active, created_at) VALUES (?, ?, ?, ?, ?, ?) RETURNING id

2025-09-19 02:21:38,645 INFO sqlalchemy.engine.Engine [generated in 0.00040s (insertmanyvalues) 1/5 (ordered; batch not supported)] ('ÍπÄÏ≤†Ïàò', 'kim@gmail.com', 25, 50000.0, 1, '2025-09-19 02:21:38.642572')

INFO:sqlalchemy.engine.Engine:[generated in 0.00040s (insertmanyvalues) 1/5 (ordered; batch not supported)] ('ÍπÄÏ≤†Ïàò', 'kim@gmail.com', 25, 50000.0, 1, '2025-09-19 02:21:38.642572')

2025-09-19 02:21:38,647 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, age, salary, is_active, created_at) VALUES (?, ?, ?, ?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (username, email, age, salary, is_active, created_at) VALUES (?, ?, ?, ?, ?, ?) RETURNING id

2025-09-19 02:21:38,649 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/5 (ordered; batch not supported)] ('Ïù¥ÏòÅÌù¨', 'lee@naver.com', 30, 60000.0, 1, '2025-09-19 02:21:38.642580')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 2/5 (ordered; batch not supported)] ('Ïù¥ÏòÅÌù¨', 'lee@naver.com', 30, 60000.0, 1, '2025-09-19 02:21:38.642580')

2025-09-19 02:21:38,651 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, age, salary, is_active, created_at) VALUES (?, ?, ?, ?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (username, email, age, salary, is_active, created_at) VALUES (?, ?, ?, ?, ?, ?) RETURNING id

2025-09-19 02:21:38,653 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/5 (ordered; batch not supported)] ('Î∞ïÎØºÏàò', 'park@daum.net', 28, 55000.0, 1, '2025-09-19 02:21:38.642581')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 3/5 (ordered; batch not supported)] ('Î∞ïÎØºÏàò', 'park@daum.net', 28, 55000.0, 1, '2025-09-19 02:21:38.642581')

2025-09-19 02:21:38,654 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, age, salary, is_active, created_at) VALUES (?, ?, ?, ?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (username, email, age, salary, is_active, created_at) VALUES (?, ?, ?, ?, ?, ?) RETURNING id

2025-09-19 02:21:38,656 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/5 (ordered; batch not supported)] ('ÏµúÏßÄÏõê', 'choi@gmail.com', 32, 70000.0, 1, '2025-09-19 02:21:38.642583')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 4/5 (ordered; batch not supported)] ('ÏµúÏßÄÏõê', 'choi@gmail.com', 32, 70000.0, 1, '2025-09-19 02:21:38.642583')

2025-09-19 02:21:38,657 INFO sqlalchemy.engine.Engine INSERT INTO users (username, email, age, salary, is_active, created_at) VALUES (?, ?, ?, ?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (username, email, age, salary, is_active, created_at) VALUES (?, ?, ?, ?, ?, ?) RETURNING id

2025-09-19 02:21:38,658 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/5 (ordered; batch not supported)] ('Ï†ïÎã§ÏòÅ', 'jung@yahoo.com', 27, 48000.0, 1, '2025-09-19 02:21:38.642584')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 5/5 (ordered; batch not supported)] ('Ï†ïÎã§ÏòÅ', 'jung@yahoo.com', 27, 48000.0, 1, '2025-09-19 02:21:38.642584')

2025-09-19 02:21:38,661 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

‚úÖ 5Î™ÖÏùò ÏÇ¨Ïö©Ïûê ÏÉùÏÑ± ÏôÑÎ£å!
2025-09-19 02:21:38,677 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-09-19 02:21:38,682 INFO sqlalchemy.engine.Engine INSERT INTO products (name, category, price, stock, created_at) VALUES (?, ?, ?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO products (name, category, price, stock, created_at) VALUES (?, ?, ?, ?, ?) RETURNING id

2025-09-19 02:21:38,685 INFO sqlalchemy.engine.Engine [generated in 0.00064s (insertmanyvalues) 1/8 (ordered; batch not supported)] ('ÏïÑÏù¥Ìè∞', 'Ï†ÑÏûêÏ†úÌíà', 1200000.0, 50, '2025-09-19 02:21:38.682279')

INFO:sqlalchemy.engine.Engine:[generated in 0.00064s (insertmanyvalues) 1/8 (ordered; batch not supported)] ('ÏïÑÏù¥Ìè∞', 'Ï†ÑÏûêÏ†úÌíà', 1200000.0, 50, '2025-09-19 02:21:38.682279')

2025-09-19 02:21:38,688 INFO sqlalchemy.engine.Engine INSERT INTO products (name, category, price, stock, created_at) VALUES (?, ?, ?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO products (name, category, price, stock, created_at) VALUES (?, ?, ?, ?, ?) RETURNING id

2025-09-19 02:21:38,691 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/8 (ordered; batch not supported)] ('Í∞§Îü≠Ïãú', 'Ï†ÑÏûêÏ†úÌíà', 1000000.0, 30, '2025-09-19 02:21:38.682286')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 2/8 (ordered; batch not supported)] ('Í∞§Îü≠Ïãú', 'Ï†ÑÏûêÏ†úÌíà', 1000000.0, 30, '2025-09-19 02:21:38.682286')

2025-09-19 02:21:38,694 INFO sqlalchemy.engine.Engine INSERT INTO products (name, category, price, stock, created_at) VALUES (?, ?, ?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO products (name, category, price, stock, created_at) VALUES (?, ?, ?, ?, ?) RETURNING id

2025-09-19 02:21:38,697 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/8 (ordered; batch not supported)] ('ÎÖ∏Ìä∏Î∂Å', 'Ï†ÑÏûêÏ†úÌíà', 1500000.0, 20, '2025-09-19 02:21:38.682288')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 3/8 (ordered; batch not supported)] ('ÎÖ∏Ìä∏Î∂Å', 'Ï†ÑÏûêÏ†úÌíà', 1500000.0, 20, '2025-09-19 02:21:38.682288')

2025-09-19 02:21:38,699 INFO sqlalchemy.engine.Engine INSERT INTO products (name, category, price, stock, created_at) VALUES (?, ?, ?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO products (name, category, price, stock, created_at) VALUES (?, ?, ?, ?, ?) RETURNING id

2025-09-19 02:21:38,701 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/8 (ordered; batch not supported)] ('Ìã∞ÏÖîÏ∏†', 'ÏùòÎ•ò', 25000.0, 100, '2025-09-19 02:21:38.682288')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 4/8 (ordered; batch not supported)] ('Ìã∞ÏÖîÏ∏†', 'ÏùòÎ•ò', 25000.0, 100, '2025-09-19 02:21:38.682288')

2025-09-19 02:21:38,702 INFO sqlalchemy.engine.Engine INSERT INTO products (name, category, price, stock, created_at) VALUES (?, ?, ?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO products (name, category, price, stock, created_at) VALUES (?, ?, ?, ?, ?) RETURNING id

2025-09-19 02:21:38,705 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/8 (ordered; batch not supported)] ('Ï≤≠Î∞îÏßÄ', 'ÏùòÎ•ò', 80000.0, 60, '2025-09-19 02:21:38.682289')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 5/8 (ordered; batch not supported)] ('Ï≤≠Î∞îÏßÄ', 'ÏùòÎ•ò', 80000.0, 60, '2025-09-19 02:21:38.682289')

2025-09-19 02:21:38,709 INFO sqlalchemy.engine.Engine INSERT INTO products (name, category, price, stock, created_at) VALUES (?, ?, ?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO products (name, category, price, stock, created_at) VALUES (?, ?, ?, ?, ?) RETURNING id

2025-09-19 02:21:38,711 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/8 (ordered; batch not supported)] ('Ïö¥ÎèôÌôî', 'Ïã†Î∞ú', 120000.0, 40, '2025-09-19 02:21:38.682291')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 6/8 (ordered; batch not supported)] ('Ïö¥ÎèôÌôî', 'Ïã†Î∞ú', 120000.0, 40, '2025-09-19 02:21:38.682291')

2025-09-19 02:21:38,713 INFO sqlalchemy.engine.Engine INSERT INTO products (name, category, price, stock, created_at) VALUES (?, ?, ?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO products (name, category, price, stock, created_at) VALUES (?, ?, ?, ?, ?) RETURNING id

2025-09-19 02:21:38,715 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/8 (ordered; batch not supported)] ('Í∞ÄÎ∞©', 'Ïï°ÏÑ∏ÏÑúÎ¶¨', 150000.0, 25, '2025-09-19 02:21:38.682291')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 7/8 (ordered; batch not supported)] ('Í∞ÄÎ∞©', 'Ïï°ÏÑ∏ÏÑúÎ¶¨', 150000.0, 25, '2025-09-19 02:21:38.682291')

2025-09-19 02:21:38,716 INFO sqlalchemy.engine.Engine INSERT INTO products (name, category, price, stock, created_at) VALUES (?, ?, ?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO products (name, category, price, stock, created_at) VALUES (?, ?, ?, ?, ?) RETURNING id

2025-09-19 02:21:38,717 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/8 (ordered; batch not supported)] ('ÏãúÍ≥Ñ', 'Ïï°ÏÑ∏ÏÑúÎ¶¨', 300000.0, 15, '2025-09-19 02:21:38.682293')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 8/8 (ordered; batch not supported)] ('ÏãúÍ≥Ñ', 'Ïï°ÏÑ∏ÏÑúÎ¶¨', 300000.0, 15, '2025-09-19 02:21:38.682293')

2025-09-19 02:21:38,720 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

‚úÖ 8Í∞úÏùò Ï†úÌíà ÏÉùÏÑ± ÏôÑÎ£å!
2025-09-19 02:21:38,734 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-09-19 02:21:38,738 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users

2025-09-19 02:21:38,739 INFO sqlalchemy.engine.Engine [generated in 0.00176s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00176s] ()

2025-09-19 02:21:38,744 INFO sqlalchemy.engine.Engine SELECT products.id AS products_id, products.name AS products_name, products.category AS products_category, products.price AS products_price, products.stock AS products_stock, products.created_at AS products_created_at
FROM products

INFO:sqlalchemy.engine.Engine:SELECT products.id AS products_id, products.name AS products_name, products.category AS products_category, products.price AS products_price, products.stock AS products_stock, products.created_at AS products_created_at
FROM products

2025-09-19 02:21:38,746 INFO sqlalchemy.engine.Engine [generated in 0.00226s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00226s] ()

2025-09-19 02:21:38,753 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, total_amount, order_date, status) VALUES (?, ?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO orders (user_id, total_amount, order_date, status) VALUES (?, ?, ?, ?) RETURNING id

2025-09-19 02:21:38,758 INFO sqlalchemy.engine.Engine [generated in 0.00039s (insertmanyvalues) 1/3 (ordered; batch not supported)] (1, 432395.0, '2025-09-19 02:21:38.753292', 'pending')

INFO:sqlalchemy.engine.Engine:[generated in 0.00039s (insertmanyvalues) 1/3 (ordered; batch not supported)] (1, 432395.0, '2025-09-19 02:21:38.753292', 'pending')

2025-09-19 02:21:38,760 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, total_amount, order_date, status) VALUES (?, ?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO orders (user_id, total_amount, order_date, status) VALUES (?, ?, ?, ?) RETURNING id

2025-09-19 02:21:38,762 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered; batch not supported)] (6, 463673.0, '2025-09-19 02:21:38.753299', 'shipped')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 2/3 (ordered; batch not supported)] (6, 463673.0, '2025-09-19 02:21:38.753299', 'shipped')

2025-09-19 02:21:38,765 INFO sqlalchemy.engine.Engine INSERT INTO orders (user_id, total_amount, order_date, status) VALUES (?, ?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO orders (user_id, total_amount, order_date, status) VALUES (?, ?, ?, ?) RETURNING id

2025-09-19 02:21:38,767 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered; batch not supported)] (1, 186511.0, '2025-09-19 02:21:38.753300', 'delivered')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 3/3 (ordered; batch not supported)] (1, 186511.0, '2025-09-19 02:21:38.753300', 'delivered')

2025-09-19 02:21:38,770 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

‚úÖ 3Í∞úÏùò Ï£ºÎ¨∏ ÏÉùÏÑ± ÏôÑÎ£å!
üéâ Î™®Îì† ÏÉòÌîå Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ± ÏôÑÎ£å!
2025-09-19 02:21:38,790 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-09-19 02:21:38,795 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.id = ?

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.id = ?

2025-09-19 02:21:38,798 INFO sqlalchemy.engine.Engine [generated in 0.00314s] (2,)

INFO:sqlalchemy.engine.Engine:[generated in 0.00314s] (2,)

2025-09-19 02:21:38,802 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.id = ?

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.id = ?

2025-09-19 02:21:38,804 INFO sqlalchemy.engine.Engine [cached since 0.009326s ago] (3,)

INFO:sqlalchemy.engine.Engine:[cached since 0.009326s ago] (3,)

2025-09-19 02:21:38,808 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.id = ?

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.id = ?

2025-09-19 02:21:38,810 INFO sqlalchemy.engine.Engine [cached since 0.01549s ago] (4,)

INFO:sqlalchemy.engine.Engine:[cached since 0.01549s ago] (4,)

2025-09-19 02:21:38,814 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.id = ?

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.id = ?

2025-09-19 02:21:38,816 INFO sqlalchemy.engine.Engine [cached since 0.02104s ago] (5,)

INFO:sqlalchemy.engine.Engine:[cached since 0.02104s ago] (5,)

2025-09-19 02:21:38,819 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.id = ?

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.id = ?

2025-09-19 02:21:38,822 INFO sqlalchemy.engine.Engine [cached since 0.02713s ago] (6,)

INFO:sqlalchemy.engine.Engine:[cached since 0.02713s ago] (6,)

2025-09-19 02:21:38,828 INFO sqlalchemy.engine.Engine SELECT products.id AS products_id, products.name AS products_name, products.category AS products_category, products.price AS products_price, products.stock AS products_stock, products.created_at AS products_created_at
FROM products
WHERE products.id = ?

INFO:sqlalchemy.engine.Engine:SELECT products.id AS products_id, products.name AS products_name, products.category AS products_category, products.price AS products_price, products.stock AS products_stock, products.created_at AS products_created_at
FROM products
WHERE products.id = ?

2025-09-19 02:21:38,830 INFO sqlalchemy.engine.Engine [generated in 0.00289s] (1,)

INFO:sqlalchemy.engine.Engine:[generated in 0.00289s] (1,)

2025-09-19 02:21:38,834 INFO sqlalchemy.engine.Engine SELECT products.id AS products_id, products.name AS products_name, products.category AS products_category, products.price AS products_price, products.stock AS products_stock, products.created_at AS products_created_at
FROM products
WHERE products.id = ?

INFO:sqlalchemy.engine.Engine:SELECT products.id AS products_id, products.name AS products_name, products.category AS products_category, products.price AS products_price, products.stock AS products_stock, products.created_at AS products_created_at
FROM products
WHERE products.id = ?

2025-09-19 02:21:38,836 INFO sqlalchemy.engine.Engine [cached since 0.008844s ago] (2,)

INFO:sqlalchemy.engine.Engine:[cached since 0.008844s ago] (2,)

2025-09-19 02:21:38,844 INFO sqlalchemy.engine.Engine SELECT products.id AS products_id, products.name AS products_name, products.category AS products_category, products.price AS products_price, products.stock AS products_stock, products.created_at AS products_created_at
FROM products
WHERE products.id = ?

INFO:sqlalchemy.engine.Engine:SELECT products.id AS products_id, products.name AS products_name, products.category AS products_category, products.price AS products_price, products.stock AS products_stock, products.created_at AS products_created_at
FROM products
WHERE products.id = ?

2025-09-19 02:21:38,849 INFO sqlalchemy.engine.Engine [cached since 0.02153s ago] (3,)

INFO:sqlalchemy.engine.Engine:[cached since 0.02153s ago] (3,)

2025-09-19 02:21:38,853 INFO sqlalchemy.engine.Engine SELECT products.id AS products_id, products.name AS products_name, products.category AS products_category, products.price AS products_price, products.stock AS products_stock, products.created_at AS products_created_at
FROM products
WHERE products.id = ?

INFO:sqlalchemy.engine.Engine:SELECT products.id AS products_id, products.name AS products_name, products.category AS products_category, products.price AS products_price, products.stock AS products_stock, products.created_at AS products_created_at
FROM products
WHERE products.id = ?

2025-09-19 02:21:38,855 INFO sqlalchemy.engine.Engine [cached since 0.02775s ago] (4,)

INFO:sqlalchemy.engine.Engine:[cached since 0.02775s ago] (4,)

2025-09-19 02:21:38,858 INFO sqlalchemy.engine.Engine SELECT products.id AS products_id, products.name AS products_name, products.category AS products_category, products.price AS products_price, products.stock AS products_stock, products.created_at AS products_created_at
FROM products
WHERE products.id = ?

INFO:sqlalchemy.engine.Engine:SELECT products.id AS products_id, products.name AS products_name, products.category AS products_category, products.price AS products_price, products.stock AS products_stock, products.created_at AS products_created_at
FROM products
WHERE products.id = ?

2025-09-19 02:21:38,860 INFO sqlalchemy.engine.Engine [cached since 0.0327s ago] (5,)

INFO:sqlalchemy.engine.Engine:[cached since 0.0327s ago] (5,)

2025-09-19 02:21:38,863 INFO sqlalchemy.engine.Engine SELECT products.id AS products_id, products.name AS products_name, products.category AS products_category, products.price AS products_price, products.stock AS products_stock, products.created_at AS products_created_at
FROM products
WHERE products.id = ?

INFO:sqlalchemy.engine.Engine:SELECT products.id AS products_id, products.name AS products_name, products.category AS products_category, products.price AS products_price, products.stock AS products_stock, products.created_at AS products_created_at
FROM products
WHERE products.id = ?

2025-09-19 02:21:38,867 INFO sqlalchemy.engine.Engine [cached since 0.03903s ago] (6,)

INFO:sqlalchemy.engine.Engine:[cached since 0.03903s ago] (6,)

2025-09-19 02:21:38,869 INFO sqlalchemy.engine.Engine SELECT products.id AS products_id, products.name AS products_name, products.category AS products_category, products.price AS products_price, products.stock AS products_stock, products.created_at AS products_created_at
FROM products
WHERE products.id = ?

INFO:sqlalchemy.engine.Engine:SELECT products.id AS products_id, products.name AS products_name, products.category AS products_category, products.price AS products_price, products.stock AS products_stock, products.created_at AS products_created_at
FROM products
WHERE products.id = ?

2025-09-19 02:21:38,872 INFO sqlalchemy.engine.Engine [cached since 0.04472s ago] (7,)

INFO:sqlalchemy.engine.Engine:[cached since 0.04472s ago] (7,)

2025-09-19 02:21:38,875 INFO sqlalchemy.engine.Engine SELECT products.id AS products_id, products.name AS products_name, products.category AS products_category, products.price AS products_price, products.stock AS products_stock, products.created_at AS products_created_at
FROM products
WHERE products.id = ?

INFO:sqlalchemy.engine.Engine:SELECT products.id AS products_id, products.name AS products_name, products.category AS products_category, products.price AS products_price, products.stock AS products_stock, products.created_at AS products_created_at
FROM products
WHERE products.id = ?

2025-09-19 02:21:38,877 INFO sqlalchemy.engine.Engine [cached since 0.04999s ago] (8,)

INFO:sqlalchemy.engine.Engine:[cached since 0.04999s ago] (8,)

2025-09-19 02:21:38,882 INFO sqlalchemy.engine.Engine SELECT orders.id AS orders_id, orders.user_id AS orders_user_id, orders.total_amount AS orders_total_amount, orders.order_date AS orders_order_date, orders.status AS orders_status
FROM orders
WHERE orders.id = ?

INFO:sqlalchemy.engine.Engine:SELECT orders.id AS orders_id, orders.user_id AS orders_user_id, orders.total_amount AS orders_total_amount, orders.order_date AS orders_order_date, orders.status AS orders_status
FROM orders
WHERE orders.id = ?

2025-09-19 02:21:38,886 INFO sqlalchemy.engine.Engine [generated in 0.00426s] (1,)

INFO:sqlalchemy.engine.Engine:[generated in 0.00426s] (1,)

2025-09-19 02:21:38,890 INFO sqlalchemy.engine.Engine SELECT orders.id AS orders_id, orders.user_id AS orders_user_id, orders.total_amount AS orders_total_amount, orders.order_date AS orders_order_date, orders.status AS orders_status
FROM orders
WHERE orders.id = ?

INFO:sqlalchemy.engine.Engine:SELECT orders.id AS orders_id, orders.user_id AS orders_user_id, orders.total_amount AS orders_total_amount, orders.order_date AS orders_order_date, orders.status AS orders_status
FROM orders
WHERE orders.id = ?

2025-09-19 02:21:38,892 INFO sqlalchemy.engine.Engine [cached since 0.01088s ago] (2,)

INFO:sqlalchemy.engine.Engine:[cached since 0.01088s ago] (2,)

2025-09-19 02:21:38,895 INFO sqlalchemy.engine.Engine SELECT orders.id AS orders_id, orders.user_id AS orders_user_id, orders.total_amount AS orders_total_amount, orders.order_date AS orders_order_date, orders.status AS orders_status
FROM orders
WHERE orders.id = ?

INFO:sqlalchemy.engine.Engine:SELECT orders.id AS orders_id, orders.user_id AS orders_user_id, orders.total_amount AS orders_total_amount, orders.order_date AS orders_order_date, orders.status AS orders_status
FROM orders
WHERE orders.id = ?

2025-09-19 02:21:38,897 INFO sqlalchemy.engine.Engine [cached since 0.01507s ago] (3,)

INFO:sqlalchemy.engine.Engine:[cached since 0.01507s ago] (3,)

([<User(id=2, username='ÍπÄÏ≤†Ïàò', age=25)>,
  <User(id=3, username='Ïù¥ÏòÅÌù¨', age=30)>,
  <User(id=4, username='Î∞ïÎØºÏàò', age=28)>,
  <User(id=5, username='ÏµúÏßÄÏõê', age=32)>,
  <User(id=6, username='Ï†ïÎã§ÏòÅ', age=27)>],
 [<Product(id=1, name='ÏïÑÏù¥Ìè∞', price=1200000.0)>,
  <Product(id=2, name='Í∞§Îü≠Ïãú', price=1000000.0)>,
  <Product(id=3, name='ÎÖ∏Ìä∏Î∂Å', price=1500000.0)>,
  <Product(id=4, name='Ìã∞ÏÖîÏ∏†', price=25000.0)>,
  <Product(id=5, name='Ï≤≠Î∞îÏßÄ', price=80000.0)>,
  <Product(id=6, name='Ïö¥ÎèôÌôî', price=120000.0)>,
  <Product(id=7, name='Í∞ÄÎ∞©', price=150000.0)>,
  <Product(id=8, name='ÏãúÍ≥Ñ', price=300000.0)>],
 [<Order(id=1, user_id=1, amount=432395.0)>,
  <Order(id=2, user_id=6, amount=463673.0)>,
  <Order(id=3, user_id=1, amount=186511.0)>])

In [10]:
def print_users():
    """ÏÇ¨Ïö©Ïûê Î™©Î°ù ÏòàÏÅòÍ≤å Ï∂úÎ†•"""
    users = session.query(User).all()

    print("\n" + "="*50)
    print("üë• ÏÇ¨Ïö©Ïûê Î™©Î°ù")
    print("="*50)

    if not users:
        print("ÏÇ¨Ïö©ÏûêÍ∞Ä ÏóÜÏäµÎãàÎã§.")
        return

    for user in users:
        active_status = "‚úÖ ÌôúÏÑ±" if user.is_active else "‚ùå ÎπÑÌôúÏÑ±"
        print(f"ID: {user.id:2d} | {user.username:6s} | {user.age:2d}ÏÑ∏ | {user.salary:8,.0f}Ïõê | {active_status}")

    print(f"\nÏ¥ù {len(users)}Î™ÖÏùò ÏÇ¨Ïö©Ïûê")
    print("="*50)

def print_products():
    """Ï†úÌíà Î™©Î°ù ÏòàÏÅòÍ≤å Ï∂úÎ†•"""
    products = session.query(Product).all()

    print("\n" + "="*60)
    print("üì¶ Ï†úÌíà Î™©Î°ù")
    print("="*60)

    if not products:
        print("Ï†úÌíàÏù¥ ÏóÜÏäµÎãàÎã§.")
        return

    for product in products:
        stock_status = "‚ö†Ô∏è Î∂ÄÏ°±" if product.stock < 20 else "‚úÖ Ï∂©Î∂Ñ"
        print(f"ID: {product.id:2d} | {product.name:8s} | {product.category:8s} | {product.price:8,.0f}Ïõê | Ïû¨Í≥†: {product.stock:3d}Í∞ú {stock_status}")

    print(f"\nÏ¥ù {len(products)}Í∞úÏùò Ï†úÌíà")
    print("="*60)

def print_orders():
    """Ï£ºÎ¨∏ Î™©Î°ù ÏòàÏÅòÍ≤å Ï∂úÎ†•"""
    orders = session.query(Order).all()

    print("\n" + "="*50)
    print("üõí Ï£ºÎ¨∏ Î™©Î°ù")
    print("="*50)

    if not orders:
        print("Ï£ºÎ¨∏Ïù¥ ÏóÜÏäµÎãàÎã§.")
        return

    for order in orders:
        user = session.query(User).filter(User.id == order.user_id).first()
        username = user.username if user else "Ïïå Ïàò ÏóÜÏùå"
        print(f"Ï£ºÎ¨∏ ID: {order.id:2d} | Ï£ºÎ¨∏Ïûê: {username:6s} | Í∏àÏï°: {order.total_amount:8,.0f}Ïõê | ÏÉÅÌÉú: {order.status}")

    print(f"\nÏ¥ù {len(orders)}Í∞úÏùò Ï£ºÎ¨∏")
    print("="*50)

def print_all_data():
    """Î™®Îì† Îç∞Ïù¥ÌÑ∞ ÌïúÎ≤àÏóê Ï∂úÎ†•"""
    print_users()
    print_products()
    print_orders()

print_all_data()

2025-09-19 02:34:43,109 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users

2025-09-19 02:34:43,118 INFO sqlalchemy.engine.Engine [cached since 784.4s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 784.4s ago] ()

==================================================
üë• ÏÇ¨Ïö©Ïûê Î™©Î°ù
==================================================
ID:  1 | max    | 20ÏÑ∏ |   30,000Ïõê | ‚úÖ ÌôúÏÑ±
ID:  2 | ÍπÄÏ≤†Ïàò    | 25ÏÑ∏ |   50,000Ïõê | ‚úÖ ÌôúÏÑ±
ID:  3 | Ïù¥ÏòÅÌù¨    | 30ÏÑ∏ |   60,000Ïõê | ‚úÖ ÌôúÏÑ±
ID:  4 | Î∞ïÎØºÏàò    | 28ÏÑ∏ |   55,000Ïõê | ‚úÖ ÌôúÏÑ±
ID:  5 | ÏµúÏßÄÏõê    | 32ÏÑ∏ |   70,000Ïõê | ‚úÖ ÌôúÏÑ±
ID:  6 | Ï†ïÎã§ÏòÅ    | 27ÏÑ∏ |   48,000Ïõê | ‚úÖ ÌôúÏÑ±

Ï¥ù 6Î™ÖÏùò ÏÇ¨Ïö©Ïûê
==================================================
2025-09-19 02:34:43,123 INFO sqlalchemy.engine.Engine SELECT products.id AS products_id, products.name AS products_name, products.category AS products_category, products.price AS products_price, products.stock AS products_stock, products.created_at AS products_created_at
FROM products

INFO:sqlalchemy.engine.Engine:SELECT products.id AS products_id, products.name AS products_name, products.category AS products_category, products.price AS products_price, products.stock AS products_stock, products.created_at AS products_created_at
FROM products

2025-09-19 02:34:43,127 INFO sqlalchemy.engine.Engine [cached since 784.4s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 784.4s ago] ()

============================================================
üì¶ Ï†úÌíà Î™©Î°ù
============================================================
ID:  1 | ÏïÑÏù¥Ìè∞      | Ï†ÑÏûêÏ†úÌíà     | 1,200,000Ïõê | Ïû¨Í≥†:  50Í∞ú ‚úÖ Ï∂©Î∂Ñ
ID:  2 | Í∞§Îü≠Ïãú      | Ï†ÑÏûêÏ†úÌíà     | 1,000,000Ïõê | Ïû¨Í≥†:  30Í∞ú ‚úÖ Ï∂©Î∂Ñ
ID:  3 | ÎÖ∏Ìä∏Î∂Å      | Ï†ÑÏûêÏ†úÌíà     | 1,500,000Ïõê | Ïû¨Í≥†:  20Í∞ú ‚úÖ Ï∂©Î∂Ñ
ID:  4 | Ìã∞ÏÖîÏ∏†      | ÏùòÎ•ò       |   25,000Ïõê | Ïû¨Í≥†: 100Í∞ú ‚úÖ Ï∂©Î∂Ñ
ID:  5 | Ï≤≠Î∞îÏßÄ      | ÏùòÎ•ò       |   80,000Ïõê | Ïû¨Í≥†:  60Í∞ú ‚úÖ Ï∂©Î∂Ñ
ID:  6 | Ïö¥ÎèôÌôî      | Ïã†Î∞ú       |  120,000Ïõê | Ïû¨Í≥†:  40Í∞ú ‚úÖ Ï∂©Î∂Ñ
ID:  7 | Í∞ÄÎ∞©       | Ïï°ÏÑ∏ÏÑúÎ¶¨     |  150,000Ïõê | Ïû¨Í≥†:  25Í∞ú ‚úÖ Ï∂©Î∂Ñ
ID:  8 | ÏãúÍ≥Ñ       | Ïï°ÏÑ∏ÏÑúÎ¶¨     |  300,000Ïõê | Ïû¨Í≥†:  15Í∞ú ‚ö†Ô∏è Î∂ÄÏ°±

Ï¥ù 8Í∞úÏùò Ï†úÌíà
============================================================
2025-09-19 02:34:43,134 INFO sqlalchemy.engine.Engine SELECT orders.id AS orders_id, orders.user_id AS orders_user_id, orders.total_amount AS orders_total_amount, orders.order_date AS orders_order_date, orders.status AS orders_status
FROM orders

INFO:sqlalchemy.engine.Engine:SELECT orders.id AS orders_id, orders.user_id AS orders_user_id, orders.total_amount AS orders_total_amount, orders.order_date AS orders_order_date, orders.status AS orders_status
FROM orders

2025-09-19 02:34:43,138 INFO sqlalchemy.engine.Engine [generated in 0.00468s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00468s] ()

==================================================
üõí Ï£ºÎ¨∏ Î™©Î°ù
==================================================
2025-09-19 02:34:43,145 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.id = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.id = ?
 LIMIT ? OFFSET ?

2025-09-19 02:34:43,148 INFO sqlalchemy.engine.Engine [generated in 0.00282s] (1, 1, 0)

INFO:sqlalchemy.engine.Engine:[generated in 0.00282s] (1, 1, 0)

Ï£ºÎ¨∏ ID:  1 | Ï£ºÎ¨∏Ïûê: max    | Í∏àÏï°:  432,395Ïõê | ÏÉÅÌÉú: pending
2025-09-19 02:34:43,153 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.id = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.id = ?
 LIMIT ? OFFSET ?

2025-09-19 02:34:43,156 INFO sqlalchemy.engine.Engine [cached since 0.0105s ago] (6, 1, 0)

INFO:sqlalchemy.engine.Engine:[cached since 0.0105s ago] (6, 1, 0)

Ï£ºÎ¨∏ ID:  2 | Ï£ºÎ¨∏Ïûê: Ï†ïÎã§ÏòÅ    | Í∏àÏï°:  463,673Ïõê | ÏÉÅÌÉú: shipped
2025-09-19 02:34:43,159 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.id = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.id = ?
 LIMIT ? OFFSET ?

2025-09-19 02:34:43,161 INFO sqlalchemy.engine.Engine [cached since 0.0161s ago] (1, 1, 0)

INFO:sqlalchemy.engine.Engine:[cached since 0.0161s ago] (1, 1, 0)

Ï£ºÎ¨∏ ID:  3 | Ï£ºÎ¨∏Ïûê: max    | Í∏àÏï°:  186,511Ïõê | ÏÉÅÌÉú: delivered

Ï¥ù 3Í∞úÏùò Ï£ºÎ¨∏
==================================================

In [27]:
# user_count = session.query(func.count(User.id)).scalar() # user id Í∞ØÏàòÎ•º ÏÑºÎã§.
# print(user_count)

# exists() - Ï°¥Ïû¨ Ïó¨Î∂Ä ÌôïÏù∏
user_exists = session.query(User.id).filter(User.username =="max").exists() # ÏøºÎ¶¨ Î∞òÌôò
print(user_exists)

exists_result = session.query(user_exists).scalar() # Ïã§Ï†ú Í∞íÏúºÎ°ú Î≥ÄÌôò ÌõÑ Î∞òÌôò
print(exists_result)

EXISTS (SELECT 1
FROM users
WHERE users.username = :username_1)
2025-09-19 03:22:30,779 INFO sqlalchemy.engine.Engine SELECT EXISTS (SELECT 1
FROM users
WHERE users.username = ?) AS anon_1

INFO:sqlalchemy.engine.Engine:SELECT EXISTS (SELECT 1
FROM users
WHERE users.username = ?) AS anon_1

2025-09-19 03:22:30,782 INFO sqlalchemy.engine.Engine [cached since 2372s ago] ('max',)

INFO:sqlalchemy.engine.Engine:[cached since 2372s ago] ('max',)

True

In [26]:
# 1. and_() - and Ï°∞Í±¥
# users = session.query(User).filter(
    # and_(User.age > 25, User.is_active == True)
# ).all()

# print(users)

# 2. or_() - OR Ï°∞Í±¥
# users_or = session.query(User).filter(
#     or_(User.age < 20, User.age > 60)
# ).all()

# print(users_or)

# 3. in_() - IN Ï°∞Í±¥
# users_in = session.query(User).filter(User.id.in_([1,2,3])).all()
# print(users_in)

# 4. not_() - NOT Ï°∞Í±¥
# from sqlalchemy import not_
# inactive_users = session.query(User).filter(not_(User.is_active)).all()
# print(inactive_users)

# 5. like() - LIKE Ìå®ÌÑ¥ Îß§Ïπ≠
# users_like = session.query(User).filter(User.username.like('%ÏòÅÌù¨%')).all()
# print(users_like)

# 6. contains() - Ìè¨Ìï®ÌïòÎäî Îç∞Ïù¥ÌÑ∞Î•º Î∞òÌôò
# users_contains = session.query(User).filter(User.email.contains('@gmail')).all()
# print(users_contains)

# 7. startswith(), endswith()
# gmail_users = session.query(User).filter(User.email.endswith('@gmail.com')).all()
# print(gmail_users)

# 8. between() - Î≤îÏúÑ Ï°∞Í±¥
# mid_age_users = session.query(User).filter(User.age.between(25, 40)).all()
# print(mid_age_users)

# 9. is_null(), is_not(None)
users_with_email = session.query(User).filter(User.email.is_not(None)).all()
print(users_with_email)

2025-09-19 03:20:44,414 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.email IS NOT NULL

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.email IS NOT NULL

2025-09-19 03:20:44,418 INFO sqlalchemy.engine.Engine [cached since 49.14s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 49.14s ago] ()

[<User(id=1, username='max', age=20)>, <User(id=2, username='ÍπÄÏ≤†Ïàò', age=25)>, <User(id=3, username='Ïù¥ÏòÅÌù¨', age=30)>, <User(id=4, username='Î∞ïÎØºÏàò', age=28)>, <User(id=5, username='ÏµúÏßÄÏõê', age=32)>, <User(id=6, username='Ï†ïÎã§ÏòÅ', age=27)>]

In [ ]:
# 1. order_by() - Ï†ïÎ†¨
users_asc = session.query(User).order_by(User.age).all()  # Ïò§Î¶ÑÏ∞®Ïàú
users_desc = session.query(User).order_by(desc(User.age)).all()  # ÎÇ¥Î¶ºÏ∞®Ïàú
users_asc_explicit = session.query(User).order_by(asc(User.age)).all()

# 2. Ïó¨Îü¨ Ïª¨ÎüºÏúºÎ°ú Ï†ïÎ†¨
users_multi = session.query(User).order_by(User.age.desc(), User.username).all()

# 3. limit() - Í∞úÏàò Ï†úÌïú
top_3_users = session.query(User).order_by(User.salary.desc()).limit(3).all() # ÏÉÅÏúÑ 3Î™Ö

# 4. offset() - Í±¥ÎÑàÎõ∞Í∏∞
users_page_2 = session.query(User).offset(5).limit(5).all()

# 5. distinct() - Ï§ëÎ≥µ Ï†úÍ±∞
distinct_categories = session.query(Product.category).distinct().all()

# Îã§Ïùå Ï°∞Í±¥ÏùÑ ÎßåÏ°±ÌïòÎäî ÏÇ¨Ïö©ÏûêÎì§ÏùÑ Ï∞æÎäî Ìï®ÏàòÎ•º ÏûëÏÑ±ÌïòÏÑ∏Ïöî:
# - ÎÇòÏù¥Í∞Ä 25ÏÑ∏ Ïù¥ÏÉÅ 35ÏÑ∏ Ïù¥Ìïò (age)
# - Ïó∞Î¥âÏù¥ 50000 Ïù¥ÏÉÅ (salary)
# - Ïù¥Î©îÏùºÏù¥ gmail.comÏúºÎ°ú ÎÅùÎÇ® (email)
# - ÌôúÏÑ± ÏÉÅÌÉú (is_active)

In [29]:
users = session.query(User).filter(
    and_(
        User.age.between(25,35),
        User.salary >= 50000,
        User.email.endswith('@gmail.com'),
        User.is_active == True
    )
).all()

print(users)

2025-09-19 04:46:39,613 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.age BETWEEN ? AND ? AND users.salary >= ? AND (users.email LIKE '%' || ?) AND users.is_active = 1

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.age BETWEEN ? AND ? AND users.salary >= ? AND (users.email LIKE '%' || ?) AND users.is_active = 1

2025-09-19 04:46:39,626 INFO sqlalchemy.engine.Engine [cached since 3660s ago] (25, 35, 50000, '@gmail.com')

INFO:sqlalchemy.engine.Engine:[cached since 3660s ago] (25, 35, 50000, '@gmail.com')

[<User(id=2, username='ÍπÄÏ≤†Ïàò', age=25)>, <User(id=5, username='ÏµúÏßÄÏõê', age=32)>]

# ÏßëÍ≥ÑÌï®Ïàò(sum, max....)

## ~~~.scalar() ÏÇ¨Ïö©!

In [37]:
# 1. func.count() - Í∞úÏàò
user_count = session.query(func.count(User.id)).scalar()
active_user_count = session.query(func.count(User.id).filter(User.is_active == True)).scalar()

# 2. func.sum() - Ìï©Í≥Ñ
total_salary = session.query(func.sum(User.salary)).scalar()

# 3. func.avg() - ÌèâÍ∑†
avg_salary = session.query(func.avg(User.salary)).scalar()

# 4. func.min(), func.max() - ÏµúÏÜåÍ∞í, ÏµúÎåÄÍ∞í
min_salary = session.query(func.min(User.salary)).scalar()
max_salary = session.query(func.max(User.salary)).scalar()

# 5. func.coalesce() - NULL Í∞í Ï≤òÎ¶¨
avg_salary_no_null = session.query(func.avg(func.coalesce(User.salary, 0))).scalar()

# 6. func.round() - Î∞òÏò¨Î¶º
rounded_avg_salary = session.query(func.round(func.avg(User.salary), 2)).scalar()

# 7. func.length() - Î¨∏ÏûêÏó¥ Í∏∏Ïù¥ (SQLiteÏóêÏÑúÎäî length)
max_username_length = session.query(func.max(func.length(User.username))).scalar()

# 8. func.upper(), func.lower() - ÎåÄÏÜåÎ¨∏Ïûê Î≥ÄÌôò
upper_usernames = session.query(func.upper(User.username)).all()

# 9. func.substr() - Î¨∏ÏûêÏó¥ ÏûêÎ•¥Í∏∞
username_prefixes = session.query(func.substr(User.username, 1, 2)).all()

# 10. func.date() - ÎÇ†Ïßú Ìï®Ïàò
users_today = session.query(User).filter(
    func.date(User.created_at) == func.date('now')
).all()

2025-09-19 05:23:14,475 INFO sqlalchemy.engine.Engine SELECT count(users.id) AS count_1
FROM users

INFO:sqlalchemy.engine.Engine:SELECT count(users.id) AS count_1
FROM users

2025-09-19 05:23:14,478 INFO sqlalchemy.engine.Engine [cached since 9872s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 9872s ago] ()

2025-09-19 05:23:14,488 INFO sqlalchemy.engine.Engine SELECT count(users.id) FILTER (WHERE users.is_active = 1) AS anon_1
FROM users

INFO:sqlalchemy.engine.Engine:SELECT count(users.id) FILTER (WHERE users.is_active = 1) AS anon_1
FROM users

2025-09-19 05:23:14,493 INFO sqlalchemy.engine.Engine [cached since 504.7s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 504.7s ago] ()

2025-09-19 05:23:14,497 INFO sqlalchemy.engine.Engine SELECT sum(users.salary) AS sum_1
FROM users

INFO:sqlalchemy.engine.Engine:SELECT sum(users.salary) AS sum_1
FROM users

2025-09-19 05:23:14,499 INFO sqlalchemy.engine.Engine [cached since 459.2s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 459.2s ago] ()

2025-09-19 05:23:14,502 INFO sqlalchemy.engine.Engine SELECT avg(users.salary) AS avg_1
FROM users

INFO:sqlalchemy.engine.Engine:SELECT avg(users.salary) AS avg_1
FROM users

2025-09-19 05:23:14,506 INFO sqlalchemy.engine.Engine [cached since 308.8s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 308.8s ago] ()

2025-09-19 05:23:14,510 INFO sqlalchemy.engine.Engine SELECT min(users.salary) AS min_1
FROM users

INFO:sqlalchemy.engine.Engine:SELECT min(users.salary) AS min_1
FROM users

2025-09-19 05:23:14,512 INFO sqlalchemy.engine.Engine [cached since 308.8s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 308.8s ago] ()

2025-09-19 05:23:14,516 INFO sqlalchemy.engine.Engine SELECT max(users.salary) AS max_1
FROM users

INFO:sqlalchemy.engine.Engine:SELECT max(users.salary) AS max_1
FROM users

2025-09-19 05:23:14,519 INFO sqlalchemy.engine.Engine [cached since 308.8s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 308.8s ago] ()

2025-09-19 05:23:14,523 INFO sqlalchemy.engine.Engine SELECT avg(coalesce(users.salary, ?)) AS avg_1
FROM users

INFO:sqlalchemy.engine.Engine:SELECT avg(coalesce(users.salary, ?)) AS avg_1
FROM users

2025-09-19 05:23:14,525 INFO sqlalchemy.engine.Engine [cached since 308.8s ago] (0,)

INFO:sqlalchemy.engine.Engine:[cached since 308.8s ago] (0,)

2025-09-19 05:23:14,529 INFO sqlalchemy.engine.Engine SELECT round(avg(users.salary), ?) AS round_1
FROM users

INFO:sqlalchemy.engine.Engine:SELECT round(avg(users.salary), ?) AS round_1
FROM users

2025-09-19 05:23:14,535 INFO sqlalchemy.engine.Engine [cached since 191.6s ago] (2,)

INFO:sqlalchemy.engine.Engine:[cached since 191.6s ago] (2,)

2025-09-19 05:23:14,538 INFO sqlalchemy.engine.Engine SELECT max(length(users.username)) AS max_1
FROM users

INFO:sqlalchemy.engine.Engine:SELECT max(length(users.username)) AS max_1
FROM users

2025-09-19 05:23:14,543 INFO sqlalchemy.engine.Engine [cached since 191.6s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 191.6s ago] ()

2025-09-19 05:23:14,546 INFO sqlalchemy.engine.Engine SELECT upper(users.username) AS upper_1
FROM users

INFO:sqlalchemy.engine.Engine:SELECT upper(users.username) AS upper_1
FROM users

2025-09-19 05:23:14,551 INFO sqlalchemy.engine.Engine [cached since 54.84s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 54.84s ago] ()

2025-09-19 05:23:14,554 INFO sqlalchemy.engine.Engine SELECT substr(users.username, ?, ?) AS substr_1
FROM users

INFO:sqlalchemy.engine.Engine:SELECT substr(users.username, ?, ?) AS substr_1
FROM users

2025-09-19 05:23:14,555 INFO sqlalchemy.engine.Engine [cached since 9.551s ago] (1, 1)

INFO:sqlalchemy.engine.Engine:[cached since 9.551s ago] (1, 1)

[('m',), ('ÍπÄ',), ('Î∞ï',), ('Ïù¥',), ('Ï†ï',), ('Ïµú',)]

# Ïú†Ï†ÄÏ§ëÏóê Ïù¥Î©îÏùºÏóê gmailÏù¥ Îì§Ïñ¥Í∞Ñ ÏÇ¨Îûå ÎòêÎäî Ïú†Ï†ÄÏù¥Î¶ÑÏù¥ "Ïù¥ÏòÅÌù¨" Ïù∏ ÏÇ¨ÎûåÏùÑ Ï∞æÏïÑ. salaryÏùò ÌèâÍ∑†Í∞íÏùÑ Íµ¨ÌïúÎã§.

In [42]:
user_avg_salary = session.query(func.avg(User.salary).filter(
    or_(User.email.like('%gmail%'),User.username == 'Ïù¥ÏòÅÌù¨')
)).scalar()

2025-09-19 05:42:04,956 INFO sqlalchemy.engine.Engine SELECT avg(users.salary) FILTER (WHERE users.email LIKE ? OR users.username = ?) AS anon_1
FROM users

INFO:sqlalchemy.engine.Engine:SELECT avg(users.salary) FILTER (WHERE users.email LIKE ? OR users.username = ?) AS anon_1
FROM users

2025-09-19 05:42:04,961 INFO sqlalchemy.engine.Engine [cached since 136.9s ago] ('%gmail%', 'Ïù¥ÏòÅÌù¨')

INFO:sqlalchemy.engine.Engine:[cached since 136.9s ago] ('%gmail%', 'Ïù¥ÏòÅÌù¨')

In [41]:
user_avg_salary = session.query(func.avg(User.salary)).filter(
    or_(User.email.like('%gmail%'),User.username == 'Ïù¥ÏòÅÌù¨')
).scalar()

2025-09-19 05:41:27,521 INFO sqlalchemy.engine.Engine SELECT avg(users.salary) AS avg_1
FROM users
WHERE users.email LIKE ? OR users.username = ?

INFO:sqlalchemy.engine.Engine:SELECT avg(users.salary) AS avg_1
FROM users
WHERE users.email LIKE ? OR users.username = ?

2025-09-19 05:41:27,525 INFO sqlalchemy.engine.Engine [generated in 0.00425s] ('%gmail%', 'Ïù¥ÏòÅÌù¨')

INFO:sqlalchemy.engine.Engine:[generated in 0.00425s] ('%gmail%', 'Ïù¥ÏòÅÌù¨')

# Í∑∏Î£πÌïë

In [47]:
# 1. group_by() - Í∑∏Î£πÌôî
age_groups = session.query(
    User.age,
    func.count(User.id).label('count')
).group_by(User.age).all()

# 2. having() - Í∑∏Î£π Ï°∞Í±¥
# ÎèôÏùºÌïú ÎÇòÏù¥Î•º Í∞ÄÏßÑ ÏÇ¨Ïö©ÏûêÍ∞Ä 2Î™Ö Ïù¥ÏÉÅÏù∏ ÎÇòÏù¥Îì§Í≥º Í∞Å ÎÇòÏù¥Î≥Ñ ÏÇ¨Ïö© ÏàòÎ•º Ï∞æÎäîÍ≤É.
popular_ages = session.query(
    User.age,
    func.count(User.id).label('count')
  ).group_by(User.age).having(func.count(User.id) > 1).all()

# 3. Ï†úÌíàÎ≥Ñ Ïû¨Í≥† ÌÜµÍ≥Ñ
product_stats = session.query(
    Product.category,
    func.count(Product.id).label('product_count'),
    func.avg(Product.price).label('avg_price'),
    func.sum(Product.stock).label('total_stock')
).group_by(Product.category).all()
# [('Ïã†Î∞ú', 1, 120000.0, 40), ('Ïï°ÏÑ∏ÏÑúÎ¶¨', 2, 225000.0, 40), ('ÏùòÎ•ò', 2, 52500.0, 160), ('Ï†ÑÏûêÏ†úÌíà', 3, 1233333.3333333333, 100)]

2025-09-19 06:12:06,015 INFO sqlalchemy.engine.Engine SELECT users.age AS users_age, count(users.id) AS count
FROM users GROUP BY users.age

INFO:sqlalchemy.engine.Engine:SELECT users.age AS users_age, count(users.id) AS count
FROM users GROUP BY users.age

2025-09-19 06:12:06,018 INFO sqlalchemy.engine.Engine [cached since 530.2s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 530.2s ago] ()

2025-09-19 06:12:06,022 INFO sqlalchemy.engine.Engine SELECT users.age AS users_age, count(users.id) AS count
FROM users GROUP BY users.age
HAVING count(users.id) > ?

INFO:sqlalchemy.engine.Engine:SELECT users.age AS users_age, count(users.id) AS count
FROM users GROUP BY users.age
HAVING count(users.id) > ?

2025-09-19 06:12:06,024 INFO sqlalchemy.engine.Engine [cached since 359.1s ago] (1,)

INFO:sqlalchemy.engine.Engine:[cached since 359.1s ago] (1,)

2025-09-19 06:12:06,032 INFO sqlalchemy.engine.Engine SELECT products.category AS products_category, count(products.id) AS product_count, avg(products.price) AS avg_price, sum(products.stock) AS total_stock
FROM products GROUP BY products.category

INFO:sqlalchemy.engine.Engine:SELECT products.category AS products_category, count(products.id) AS product_count, avg(products.price) AS avg_price, sum(products.stock) AS total_stock
FROM products GROUP BY products.category

2025-09-19 06:12:06,034 INFO sqlalchemy.engine.Engine [generated in 0.00265s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00265s] ()

[('Ïã†Î∞ú', 1, 120000.0, 40), ('Ïï°ÏÑ∏ÏÑúÎ¶¨', 2, 225000.0, 40), ('ÏùòÎ•ò', 2, 52500.0, 160), ('Ï†ÑÏûêÏ†úÌíà', 3, 1233333.3333333333, 100)]

# Í¥ÄÍ≥Ñ (join)

In [49]:
# 1. join() - INNER JOIN
users_with_orders = session.query(
    User.username,
    Order.total_amount,
    Order.order_date
).join(
    Order, User.id == Order.user_id
).all()

print(users_with_orders)

2025-09-19 06:20:18,491 INFO sqlalchemy.engine.Engine SELECT users.username AS users_username, orders.total_amount AS orders_total_amount, orders.order_date AS orders_order_date
FROM users JOIN orders ON users.id = orders.user_id

INFO:sqlalchemy.engine.Engine:SELECT users.username AS users_username, orders.total_amount AS orders_total_amount, orders.order_date AS orders_order_date
FROM users JOIN orders ON users.id = orders.user_id

2025-09-19 06:20:18,494 INFO sqlalchemy.engine.Engine [cached since 154.9s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 154.9s ago] ()

[('max', 432395.0, datetime.datetime(2025, 9, 19, 2, 21, 38, 753292)), ('Ï†ïÎã§ÏòÅ', 463673.0, datetime.datetime(2025, 9, 19, 2, 21, 38, 753299)), ('max', 186511.0, datetime.datetime(2025, 9, 19, 2, 21, 38, 753300))]

In [50]:
# ‚ùå relationship ÏóÜÏù¥ (Ïñ¥Î†§Ïö¥ Î∞©Î≤ï)
order = session.query(Order).filter(Order.id == 1).first()
user = session.query(User).filter(User.id == order.user_id).first()  # Î≥ÑÎèÑ ÏøºÎ¶¨ ÌïÑÏöî
print(f"Ï£ºÎ¨∏Ïûê: {user.username}")

2025-09-19 06:25:11,961 INFO sqlalchemy.engine.Engine SELECT orders.id AS orders_id, orders.user_id AS orders_user_id, orders.total_amount AS orders_total_amount, orders.order_date AS orders_order_date, orders.status AS orders_status
FROM orders
WHERE orders.id = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT orders.id AS orders_id, orders.user_id AS orders_user_id, orders.total_amount AS orders_total_amount, orders.order_date AS orders_order_date, orders.status AS orders_status
FROM orders
WHERE orders.id = ?
 LIMIT ? OFFSET ?

2025-09-19 06:25:11,965 INFO sqlalchemy.engine.Engine [generated in 0.00382s] (1, 1, 0)

INFO:sqlalchemy.engine.Engine:[generated in 0.00382s] (1, 1, 0)

2025-09-19 06:25:11,969 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.id = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.id = ?
 LIMIT ? OFFSET ?

2025-09-19 06:25:11,972 INFO sqlalchemy.engine.Engine [cached since 1.383e+04s ago] (1, 1, 0)

INFO:sqlalchemy.engine.Engine:[cached since 1.383e+04s ago] (1, 1, 0)

Ï£ºÎ¨∏Ïûê: max

In [51]:
# ‚úÖ relationship ÏûàÏúºÎ©¥ (Ïâ¨Ïö¥ Î∞©Î≤ï)
order = session.query(Order).filter(Order.id == 1).first()
print(f"Ï£ºÎ¨∏Ïûê: {order.user.username}")  # Î∞îÎ°ú Ï†ëÍ∑º Í∞ÄÎä•!

2025-09-19 06:25:17,284 INFO sqlalchemy.engine.Engine SELECT orders.id AS orders_id, orders.user_id AS orders_user_id, orders.total_amount AS orders_total_amount, orders.order_date AS orders_order_date, orders.status AS orders_status
FROM orders
WHERE orders.id = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT orders.id AS orders_id, orders.user_id AS orders_user_id, orders.total_amount AS orders_total_amount, orders.order_date AS orders_order_date, orders.status AS orders_status
FROM orders
WHERE orders.id = ?
 LIMIT ? OFFSET ?

2025-09-19 06:25:17,287 INFO sqlalchemy.engine.Engine [cached since 5.326s ago] (1, 1, 0)

INFO:sqlalchemy.engine.Engine:[cached since 5.326s ago] (1, 1, 0)

Ï£ºÎ¨∏Ïûê: max

## userÏóê orders ÌïÑÎìúÎ•º ÌôúÏö©Ìï¥ÏÑú order Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏ†∏Ïò§ÏÑ∏Ïöî. User idÎäî 1Î≤à

In [53]:
user_orders = session.query(User).filter(User.id == 1).first().orders

print(user_orders)

2025-09-19 06:44:01,678 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.id = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.username AS users_username, users.email AS users_email, users.age AS users_age, users.salary AS users_salary, users.is_active AS users_is_active, users.created_at AS users_created_at
FROM users
WHERE users.id = ?
 LIMIT ? OFFSET ?

2025-09-19 06:44:01,689 INFO sqlalchemy.engine.Engine [cached since 1.496e+04s ago] (1, 1, 0)

INFO:sqlalchemy.engine.Engine:[cached since 1.496e+04s ago] (1, 1, 0)

[<Order(id=1, user_id=1, amount=432395.0)>, <Order(id=3, user_id=1, amount=186511.0)>]